@charset "utf-8";
/* CSS Document */

html,
body {
	background: #40829E;
	color: #E8E6E3;
}

.navbar-brand{
	
	padding: 15px 0;
	font: 28px Roboto , Arial , sans-serif;
	
}

.bg-custom {
	
	background-color: rgba(0, 0, 0, 0.2);
    height: 100px;
    box-shadow: rgb(0 0 0 / 0%) 0px 1px 3px;
	
}

.navbar-nav{
	
	font-size: 16px;
	font-weight: 600;
	display: flex;
	
}

.contacts{
	
	display: flex;
	font-size: 16px;
	font-weight: 600;
	
}

.custom-button1{
		color: white; 
		background-color: black; 
		border-radius: 20px;
		height: 40px;
    	font-size: 14px;
    	padding-left: 30px;
    	padding-right: 30px;
		font-weight: 600;
		align-self: center;
}

.flex-helper1{
	
	display:flex;
	justify-content: space-between;
	
}

.list-menu {
	
	
	display:flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	background-color: black;
	padding: 20px 0;
	width: 100%;
	
}

.mg10 {margin:10px 0;}
.mg20 {margin:20px 0;}
